<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <deliverydate>
            <general>
				<enable>0</enable>
				<deliverydatelabel>Delivery Date</deliverydatelabel>
				<enabledcomment>0</enabledcomment>
				<commentlabel>Delivery Comment</commentlabel>
				<datetype>0</datetype>
				<dateformatetype>yy-mm-dd</dateformatetype>
			</general>
			<setting>
                <disabled>-1</disabled>
                <hourstart>8</hourstart>
                <hourend>22</hourend>
				<enabledsameday>0</enabledsameday>
				<showdaterange>0</showdaterange>
				<cgroupfilter>0</cgroupfilter>
				<displayon>0</displayon>
				<printin>0</printin>
				<sendin>0</sendin>
            </setting>
        </deliverydate>
    </default>
</config>
