<div id="maildeliverycontainer" style="width:45%;" data-bind="style: {display: isDateshow()}">
	<div style="clear:both; height:10px;"></div>
	<label class="label"><span data-bind="text: getDateTitle()"></span></label>
	<div class="control">
    	<input class="input-text" type="text" data-bind="datetimepicker: true"  name="deliverydate" id="deliverydate" readonly="true" style="width:91%;"/>
         <button type="button" class="ui-datepicker-trigger v-middle" data-bind="
                        click: calenderclick"><span></span></button>
	</div>
	<div style="clear:both; height:10px;"></div>
    <div id="commentdiv" data-bind="style: {display: isCommentshow()}">
		<label class="label"><span data-bind="text: getCommentTitle()"></span></label>
		<div class="control">
    		<textarea name="deliverycomment" id="deliverycomment"></textarea>
		</div>
    </div>
	<div style="clear:both; height:10px;"></div>
</div>