
.product-item-name, .product.name a{
	font-weight: normal;
	font-size: 1.618em;
	font-family: 'Teko', serif;
	line-height: 1.5em;
}

/**CART - Dropdown Block**/
.dropdown-block .dropdown-heading {
	font-family: 'Teko', serif;
	font-size: 1.4em;
	text-transform: uppercase;
}
.block-minicart .block-content > .actions > .primary .action.primary {
	font-family: 'Teko', serif;
	font-size:1.618em;
	text-transform: uppercase;
	font-weight: normal;
}
/**CART -END**/

/**OPC - Checkout**/
.opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, .opc-block-summary > .title, .checkout-agreements-items .checkout-agreements-item-title{
	font-family: 'Teko', serif;
	font-size:1.618em;
	text-transform: uppercase;
}
.opc-block-summary .items-in-cart > .title strong{
	font-family: 'Teko', serif;
	font-size:1.618em;
	text-transform: uppercase;
	font-weight: normal;
}
/**OPC - END**/

/**SIGN UP**/
.fieldset > .legend {
	font-family: 'Teko', serif;
	font-size:1.618em;
	text-transform: uppercase;
}
.actions-toolbar > .primary:last-child, .actions-toolbar > .secondary:last-child {
	font-family: 'Teko', serif;
	font-size:1.618em;
	color:grey;
}
.action.primary{
	font-family: 'Teko', serif;
	font-size:1.2em;
	text-transform: uppercase;
	font-weight: normal;
}
/**SIGN UP - END**/

/**PRODUCT PAGE**/
.product-info-main .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart {
	font-weight: normal;
	font-size:1.618em;
}
/**PRODUCT - END**/
.header-container .right-column .top-links ul {
	font-family: 'Teko', serif;
	font-size: 1.618em;
	text-transform: uppercase;
}

.product-item-name{
		font-family: 'Teko', serif; !important
}

.breadcrumbs{
	display: none;
}

.product-info-main .product-info-stock-sku{
	display: none;
}

.product-social-links{
	display: none;
}

.product-reviews-summary{
	display: none;
}

.page-main > .page-title-wrapper .page-title {
	display:none;
}

.columns .sidebar-additional {
	display: none;
}

h1 {
	font-size:4.236em;
	text-transform: uppercase;
	margin-bottom:-.5%;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
h2 {
	font-size:2.618em;
	text-transform: uppercase;
	margin-bottom:-.2%;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
h3 {
	font-size:1.618em;
	text-transform: uppercase;
	margin-bottom:-.1%;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
h4 {
	font-size:2.618em;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

h5 {
	font-size:1.618em;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}


.product-info-main .price-box .price-wrapper .price, .product-options-bottom .price-box .price-wrapper .price {
	font-size:1.618em;
	font-family: 'Teko', serif;
}


.product-social-links .addto-links-icons .action .icon, .product-items .item .addto-links-icons .action .icon, .table-comparison .addto-links-icons .action .icon {
	display:none;
}

.block-search {
	display: none;
}


/* NAVIGATION - STICKY */
.nav-regular.centered li.level0 {
	float: left;
}
.header-container .left-column .nav-holders-wrapper, .header-container .left-column .navi {
	padding-top:1%;
}
.navi > ul {
	padding-bottom:1%;
}
.sticky-header .sticky-container {
	border:5px solid #ffcd00;
}

/* NAVIGATION - CART Visual */

