<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento360\Base\Api\UpdateItemDeliveryDateInterface"
                type="Magento360\Base\Model\UpdateItemDeliveryDate" />
    <preference for="Magento360\Base\Api\GuestUpdateItemDeliveryDateInterface"
                type="Magento360\Base\Model\GuestUpdateItemDeliveryDate" />
    <!--<preference for="Magento360\Base\Api\Data\UpdateItemDetailsInterface"-->
                <!--type="Magento360\Base\Model\UpdateItemDetails" />-->
    <!--<type name="Magento\Quote\Model\Quote\Item\ToOrderItem">-->
        <!--<plugin name="magento360_to_order_item" type="Magento360\Base\Plugin\Quote\ToOrderItem"/>-->
    <!--</type>-->
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="magentobase_to_order_item" type="Magento360\Base\Plugin\Quote\ToOrderItem"/>
    </type>
</config>
